<h2 class="image-with-text__heading h1">{{section.settings.text}}</h2>





{% schema %}
{
    "name": "heading",
    "class": "heading",
    "settings": [
{
"type": "url",
"id": "link1",
"label": "Button link"
},
{
"type": "text",
"id": "text",
"label": "the brand"
}
    ],
    "presets": [
        {
            "name": "heading",
            "category": "Text"
        }
    ]
}
{% endschema %}